@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tinos', serif;
}

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
    height: 200vh;
  display: grid;
  grid-template-columns: 1fr 0.8fr 3fr 0.1fr 1fr 1fr;
  grid-template-rows: 3fr 1.2fr 2.5fr 1.5fr 4.5fr 1.4fr;
  gap: 20px 5px;
  grid-template-areas:
    "profile-photo profile-photo main-content main-content main-content main-content"
    "profile-photo profile-photo main-content main-content main-content main-content"
    "secondary-content secondary-content secondary-content secondary-photos-main secondary-photos-main secondary-photos-main"
    "secondary-content secondary-content secondary-content secondary-photos-main secondary-photos-main secondary-photos-main"
    "last-content last-content last-content-main last-content-main last-content-main last-content-main"
    "last-content last-content last-content-main last-content-main last-content-main last-content-main"
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
  grid-area: main-content;
}

.secondary-content { grid-area: secondary-content;}

.profile-photo { grid-area: profile-photo; }

.secondary-photos-main { grid-area: secondary-photos-main; }

.last-content { grid-area: last-content; }

.last-content-main { grid-area: last-content-main; }
   
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width:600px) {
  .grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 2fr 1.2fr 1.2fr 1.2fr 1.2fr;
      gap: 2px 0px;
      grid-template-areas:
        "main-content"
        "profile-photo"
        "secondary-content"
        "secondary-photos-main"
        "last-content"
        "last-content-main"
    }
    
    .main-content { grid-area: main-content; }
    
    .profile-photo { grid-area: profile-photo; }
    
    .secondary-content { grid-area: secondary-content; }
    
    .secondary-photos-main { grid-area: secondary-photos-main; }
    
    .last-content { grid-area: last-content; }
    
    .last-content-main { grid-area: last-content-main; }
  } 
   
  
    



/* For presentation only, no need to copy the code below */
.grid-container * {
    border: 1px solid red;
    position: relative;
  }
  
  .grid-container *:after {
    position: absolute;
    top: 0;
    left: 0;
  }
