@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import "./colors.css";


:root{
  --title-font: 'Oswald', sans-serif;
  --paragraph-font:'Raleway', sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content_main_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  color: var(--text-color)}

.content_main_container h1{font-family: var(--title-font); font-size: 50px;}
.content_main_container p{font-family: var(--paragraph-font); font-size: 20px; text-align: justify;  margin: 30px}
.content_main_container li p{font-size: 15px;}


.content_profile_photo{
  display: flex;
  justify-content: center;
  margin-top: 8vh;
}

.content_profile_photo img{
  width: 300px;

  max-width: 400px;
}

#welcome-section{
  padding-top: 0px;
  margin-top: 0px;
  display: block;
  height: 100vh;
}


.skills_position{
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills_logo {
  width: 60px;
  margin-top: 8vh;
}


.text_transition {
	display: flex;
	width: auto;
	height: 40px;
	color: var(--main-color);
	font-size: 30px;
  font-family: var(--title-font);
	line-height: 40px;
  text-align: center;
  top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 8vh;
  justify-content: center;
	overflow: hidden;
	
}

.text_transition ul {
	animation: change 15s infinite;
}

.text_transition ul, p {
	margin: 0;
}

.last-content h1{
    font-size: 60px;
    font-family: var(--title-font);
    color: white;
    letter-spacing: 5px;
    margin-top: 10vh;
    background:var(--main-color);
    position: relative;
    text-align: center;
    border-radius:  0px 10px 10px 0px;
}

@keyframes text {
    0%{
        color: rgba(83, 240, 224, 0.938);
        margin-bottom: -20px;
    }

    30%{
        color: rgba(151, 242, 233, 0.938);
        letter-spacing: 20px;
        margin-bottom: -20px;
    }

    85%{
        color: rgba(199, 250, 245, 0.938);
        letter-spacing: 8px;
        margin-bottom: -20px;
    }
}


@keyframes change {
	
	0%{ margin-top: 0;}
	20%{ margin-top: 0;}
	
	25% {margin-top: -40px;}
	50% {margin-top: -40px;}
	
	55% {margin-top: -80px;}
	80% {margin-top: -80px;}
	
	85% {margin-top: -40px;}
	95% {margin-top: -40px;}
	
	100% {margin-top: 0;}
}

.box-projects {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-family: var(--title-font);
  font-size: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: flex-end; 
  color: white;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.5s ease-out;
  text-align: justify;
}

.box-projects p {font-size: 12px; text-align: justify;}
.show-text{display: none;}
.show-title{width: 100%; text-align: end;}
.box-projects:hover .show-text {display: block;}
.box-projects:hover .show-title {text-align: start;}





.box-projects:hover {
  display: flex;
  flex-direction: column;
  background-image: none;
  background-color: rgba(87, 183, 199, 0.7);
}

.projectmargin {
  margin: 2vh;
}

.project1 {background-image: url("images/miniature-landingpage-project.jpg");}

.project2 {background-image: url("images/miniature-surveyform-project.jpg");}

.project3 {background-image: url("images/miniature-tributepage-project.jpg");}

.project4 {background-image: url('images/miniature-comingsoonjs-project.jpg');}

.project5 {background-image: url('images/miniature-comingsoonjs-project.jpg');}

.project6 {background-image: url('images/miniature-comingsoonreact-project.jpg');}



#projects{
  margin: 5vh;
}







@media only screen and (max-width: 1050px){.content_profile_photo img{width: 250px;}}
@media only screen and (max-width: 800px){.content_profile_photo img{width: 100px;}}
@media only screen and (max-width: 700px){.content_profile_photo img{width: 100px;}}
@media only screen and (max-width: 600px){.content_profile_photo img{width: 200px;}}

@media only screen and (max-width: 800px){
  .content_main_container h1{font-size: 30px;}
  .content_main_container p{font-size: 20px;}
  .content_main_container li p{font-size: 15px; text-align: center;}
}

@media only screen and (max-width: 600px){
  .content_main_container h1{font-size: 30px;}
  .content_main_container p{font-size: 15px; text-align: center;}
  .content_main_container li p{font-size: 10px; text-align: center;}
  .last-content h1{margin-top: 2vh; border-radius: 0px;}
}

